@import url("https://fonts.googleapis.com/css?family=Roboto");
$primary-color: #1f2734;
$secondary-color: #fcaf19;
$tertiary-color: #3388ff;

$nav-color: #3e4a5e;
$default-color: #e5e5e5;
$error-color: #5c0000ee;

$default-font: "Roboto", sans-serif;